@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* These styles are allowed inside @layer base */
@layer base {
  body {
    @apply antialiased min-h-screen;
    font-family: 'Inter Variable', 'Inter', sans-serif;
    font-feature-settings: 'cv01' on, 'cv09' on, 'cv11' on, 'cv05' on;
    background-color: black;
    color: white;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
